* {
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
    font-family: Akrobat-Regular;
    font-weight: 500;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: rgb(145, 60, 60); */
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none !important;
}

.flex_centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_row_align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_row_align_top {
    display: flex;
    align-items: flex-start;
}

.flex_row_align_bottom {
    display: flex;
    align-items: flex-end;
}

.flex_row_centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_column_centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex_column_centered_h {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_column_centered_v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_column_space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.radius_50,
.gradient_circle {
    border-radius: 50%;
}

.button_border_1 {
    width: 100%;
    height: 4.078vh;
    background-color: var(--bg);
    border: .1vh solid var(--border);
    border-radius: 0 0 1vh 1vh;
    color: rgba(255, 255, 255, 0.5);
    transition: .3s background-color, .3s color;
}

.button_border_1:hover {
    background-color: var(--hover);
    cursor: pointer;
    color: #FFF;
}

.grid_4 {
    display: grid;
    grid-template-columns: 25.394vh 25.394vh 25.394vh 25.394vh;
    justify-items: center;
}

.gradient_circle {
    width: 2.316vh;
    height: 2.316vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 150%) padding-box,
    linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) border-box;
    border: .05vh inset solid transparent;
}

.gradient_circle>svg {
    width: 1.2vh;
    height: 1.2vh;
    object-fit: contain;
}
