* {
	margin: 0;
	padding: 0;
	color: white;
	user-select: none;
	font-family: Akrobat-Regular;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

body,
html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

input,
button {
	outline: none;
	border: none;
}

:root {
	--faction-bg: linear-gradient(107.56deg, #071015 0%, #000000 100%);
}

::-webkit-scrollbar {
	display: none;
}

.hidden {
	display: none !important;
}

.flex_centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex_row_align {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex_row_align_top {
	display: flex;
	align-items: flex-start;
}

.flex_row_align_bottom {
	display: flex;
	align-items: flex-end;
}

.flex_row_centered {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex_row_spaced {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex_column_centered {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.flex_column_centered_r {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: center;
}

.flex_column_centered_h {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex_column_centered_v {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex_column_space {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.radius_50,
.gradient_circle,
.point {
	border-radius: 50%;
}

.button_border_1 {
	width: 100%;
	height: 4.078vh;
	background: var(--bg);
	border: 0.1vh solid var(--border);
	border-radius: 0 0 1vh 1vh;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.3s color;
}

.button_border_1[disabled] {
	background: rgba(255, 255, 255, 0.15) !important;
}

.button_border_1:not([disabled]):hover {
	background: var(--hover);
	border: 0.1vh solid var(--border-hover);
	cursor: pointer;
	color: #fff;
}

.label {
	height: 2.595vh;
	background: var(--label-bg);
	border: 0.1vh solid;
	border-radius: 1.4vh;
	color: #ff3030;
	color: var(--label-color);
	font-size: 1.1vh !important;
	text-align: center;
	line-height: 2.595vh;
	padding: 0 2vh;
	margin-left: 1vh;
}

.grid_4 {
	display: grid;
	grid-template-columns: 25.394vh 25.394vh 25.394vh 25.394vh;
	justify-items: center;
}

.grid_3_row {
	display: grid;
	grid-template-columns: 25.38vh 25.38vh 25.38vh;
	gap: 5.6vh;
}

.gradient_circle {
	position: relative;
	width: 2.316vh;
	height: 2.316vh;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15) 0%,
		rgba(255, 255, 255, 0) 150%
	);
	border-radius: 50%;
}

.gradient_circle::before {
	content: '';
	position: absolute;
	width: 2.32vh;
	height: 2.32vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.09vh;
	background: linear-gradient(
		135deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0) 100%
	);
	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	border-radius: inherit;
}

.gradient_circle > svg {
	width: 1.2vh;
	height: 1.2vh;
	object-fit: contain;
}

.animation-toLeft {
	opacity: 0.5;
	margin-left: -30vh;
	animation: toLeft 0.3s forwards;
}

.animation-toTop {
	margin-top: 2vh;
	animation: toTop 0.3s forwards;
}

@keyframes toLeft {
	100% {
		opacity: 1;
		margin-left: 0vh;
	}
}

@keyframes toTop {
	100% {
		margin-top: 0vh;
	}
}

.point {
	background: #fff;
}

.point.l {
	width: 0.8vh;
	height: 0.8vh;
}

.point.m {
	width: 0.6vh;
	height: 0.6vh;
}

.point.s {
	width: 0.4vh;
	height: 0.4vh;
}

.svg_circle > text {
	text-anchor: middle;
	fill: #fff;
}

.svg_circle circle[bar] {
	stroke-width: 6;
	stroke: #fff;
	stroke-opacity: 0.25;
	fill: none;
}

.svg_circle circle[prog] {
	stroke-dasharray: 157;
	stroke-dashoffset: 157;
	stroke-width: 6;
	stroke: #fff;
	fill: none;
	transform: rotate(-90deg);
	transform-origin: center;
	transition: 0.4s stroke-dasharray ease-out, 0.4s stroke-dashoffset ease-out;
}

.circle {
	width: 1.8vh;
	height: 1.8vh;
	background: var(--circle-bg);
	border: 0.1vh solid var(--circle-border);
}

.circle .inner {
	width: 1.1vh;
	height: 1.1vh;
	background: var(--circle-fill);
}

label.checkbox:hover {
	cursor: pointer;
}

label.checkbox .input {
	position: relative;
	width: 3.334vh;
	height: 1.39vh;
	background-color: #ff3030;
	border-radius: 4.26vh;
	transition: 0.3s background-color cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

label.checkbox .input::before {
	content: '';
	position: absolute;
	width: 1.39vh;
	height: 1.39vh;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s transform cubic-bezier(0.39, 0.575, 0.565, 1);
}

label.checkbox input[type='checkbox'] {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

label.checkbox input:checked + .input {
	background-color: #adff47 !important;
}

label.checkbox input:checked + .input::before {
	transform: translateX(2vh) !important;
}

.slider:hover {
	cursor: grab;
}

.slider:active {
	cursor: grabbing;
}
