.top-left {
	position: absolute;
	margin: 3vh 2.315vh;
	gap: 1.3vh;
}

.level-wrapper > svg {
	width: 5.557vh;
}

.level-wrapper > div #xp-list {
	gap: 0.5vh;
}

.level-wrapper > div #xp-list .xp {
	gap: 0.4vh;
}

.level-wrapper > div #xp-list .xp > svg {
	width: 1.482vh;
	height: 1.482vh;
	object-fit: contain;
}

.level-wrapper > div #xp-list .xp.add > span {
	color: #a1f438;
	text-shadow: 0 0 1vh currentColor;
}

.level-wrapper > div #xp-list .xp.subtract > span {
	color: #f43838;
	text-shadow: 0 0 1vh currentColor;
}

.level-wrapper > div #xp-list .xp.add > svg > path {
	fill: #a1f438;
}

.level-wrapper > div #xp-list .xp.subtract > svg > path {
	fill: #f43838;
}

.hud .top-right {
	position: absolute;
	top: 4vh;
	right: 5.335vh;
	gap: 1.8vh;
}

.hud .top-right .blur {
	position: absolute;
	width: 24.168vh;
	height: 14.815vh;
	background: #000000;
	filter: blur(7.2vh);
	z-index: -1;
}

.hud .top-right > div {
	gap: 0.5vh;
}

.hud .top-right > div > div.flex_row_align {
	gap: 0.8vh;
}

.hud .top-right > img[logo] {
	width: 7.408vh;
	height: 7.408vh;
	object-fit: contain;
}

.hud .right {
	position: absolute;
	align-items: flex-end;
	top: 50%;
	transform: translateY(-50%);
	right: 2vh;
	gap: 1vh;
}

.hud .right .blur {
	position: absolute;
	height: 10vh;
	width: 16vh;
	background: #000000;
	filter: blur(6vh);
	transform: translateX(8vh);
	z-index: -1;
}

.hud .right > div {
	gap: 0.8vh;
}

.hud .notifications {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 4vh;
	gap: 2vh;
}

.hud .notifications .blur {
	position: absolute;
	width: 19.445vh;
	height: 7.13vh;
	background: #000000;
	filter: blur(4vh);
	z-index: -1;
}

.hud .notifications .notification > div.flex_row_align {
	gap: 0.6vh;
}

.hud .notifications .notification > div.flex_row_align > img {
	width: 1.8vh;
	height: 1.8vh;
	object-fit: contain;
}

.hud .notifications .notification > div.font_15 {
	width: 20vh;
}

.hud .announces {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 4vh;
	gap: 2vh;
}

.hud .announces .announce > div.font_20 {
	text-align: center;
	width: 25vh;
}

.hud .announces .announce .flex_row_align {
	gap: 0.3vh;
}

.hud .progressbar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10vh;
	width: 35vh;
}

.hud .progressbar #percent {
	margin-bottom: 0.4vh;
	text-align: center;
}

.hud .progressbar > div > div {
	width: 100%;
	height: 0.5vh;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 0.3vh;
}

.hud .progressbar > div > div[progress] {
	position: absolute;
	background: white;
	width: 3vh;
	box-shadow: 0 0 1vh rgba(255, 255, 255, 1);
}

.hud .speedo {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 16.482vh;
	height: 10.926vh;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.75) 0.01%,
		rgba(0, 0, 0, 0) 100%
	);
	overflow: hidden;
}

.hud .speedo > h1 {
	line-height: 4vh;
}

.hud .speedo .circle {
	position: absolute;
	border-radius: 10vh;
}

.hud .speedo .circle[big] {
	width: 20vh;
	height: 14.353vh;
	background: rgba(255, 255, 255, 0.15);
	transform: translateY(9.6vh);
}

.hud .speedo .circle[small] {
	width: 18.149vh;
	height: 13.056vh;
	background: rgba(255, 255, 255, 0.15);
	transform: translateY(10vh);
}

.hud .quest_wrapper {
	position: absolute;
	bottom: 20.5vh;
	left: 2.8vh;
}

.hud .quest_wrapper .blur {
	position: absolute;
	width: 20vh;
	transform: translateX(-9vh);
	height: 15vh;
	background: #000000;
	filter: blur(8vh);
	z-index: -1;
}

.hud .quest_wrapper .double_font_2 {
	margin-bottom: 0.8vh;
}

.hud .quest_wrapper .quests {
	gap: 1vh;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-10vh);
	}
	to {
		opacity: 1;
		transform: translateX(0vh);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateX(0vh);
	}
	to {
		opacity: 0;
		transform: translateX(-10vh);
	}
}

.hud .quest_wrapper .quests .quest {
	animation: slideIn 350ms forwards;
}

.slideOut {
	animation: slideOut 350ms forwards;
}

.hud .quest_wrapper .quests .flex_row_align .svg_circle {
	width: 4.63vh;
	height: 4.63vh;
}

.hud .quest_wrapper .quests .flex_row_align > h1 {
	width: 18vh;
}

.hud .chat_wrapper {
	position: absolute;
	align-items: flex-end;
	right: 1.33vh;
	bottom: 4.335vh;
	gap: 0.9vh;
}

.hud .chat_wrapper .messages {
	width: 41.667vh;
	max-height: 25vh;
	align-items: flex-start;
	gap: 0.7vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hud .chat_wrapper .chat {
	width: 38.669vh;
	height: 4.63vh;
	background: rgba(0, 0, 0, 0.25);
	background-image: url(../img/icons/send.svg);
	background-repeat: no-repeat;
	background-size: 2.5vh;
	background-position: 95% center;
	border-radius: 0.5vh;
	padding: 0 1.5vh;
}

.hud .killcam {
	position: absolute;
	left: 50%;
	bottom: 4vh;
	transform: translateX(-50%);
	gap: 6vh;
}

.hud .killcam .flex_row_align {
	gap: 1vh;
	width: 25vh;
}

.hud .killcam .you {
	justify-content: flex-end;
}

.hud .killcam .flex_row_align > div {
	padding: 2vh;
	border-radius: 0.9vh;
}

.hud .killcam .you > div {
	background: linear-gradient(257.76deg, #0e232e 0%, #071015 100%);
}

.hud .killcam .enemy > div {
	background: linear-gradient(257.76deg, #150707 0%, #2e0e0e 100%);
}

#hitmarker {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50);
	z-index: 99999999;
}

#hitmarker #crosshair {
	width: 2vh;
	height: 2vh;
	transform: translate(-1vh, -1vh);
}

#hitmarker #damage {
	position: absolute;
	transform: translate(2.5vh, -5vh);
}
